[submodule "sast-combinator"]
	path = sast-combinator
	url = https://github.com/5yato4ok/sast-combinator.git
[submodule "vendor/defectdojo"]
	path = vendor/defectdojo
	url = https://github.com/DefectDojo/django-DefectDojo.git
