services:
  uwsgi:
    environment:
      FIELD_ENCRYPTION_KEY: "4j2UH_n0npFJQYu9sa5kHbIFuWiENccaLtSGBIc_nFI"
      WEBHOOK_SECRET: "${WEBHOOK_SECRET:-}"
      GITHUB_APP_ID: "${GITHUB_APP_ID:-}"
      CLIENT_ID: "${CLIENT_ID:-}"
      NAME: "${NAME:-}"
      WEBHOOK_TYPE: "${WEBHOOK_TYPE:-}"
      PRIVATE_KEY: "${PRIVATE_KEY:-}"
    volumes:
      - type: bind
        source: ./docker/extra_settings
        target: /app/docker/extra_settings

  celerybeat:
    environment:
      FIELD_ENCRYPTION_KEY: "4j2UH_n0npFJQYu9sa5kHbIFuWiENccaLtSGBIc_nFI"
    volumes:
      - type: bind
        source: ./docker/extra_settings
        target: /app/docker/extra_settings

  celeryworker:
    environment:
      FIELD_ENCRYPTION_KEY: "4j2UH_n0npFJQYu9sa5kHbIFuWiENccaLtSGBIc_nFI"
      C_FORCE_ROOT: '1'
      DOCKER_HOST: unix:///var/run/docker.sock
      DOCKER_BUILDKIT: 1
    user: 0:0
    volumes:
      - type: bind
        source: ./docker/extra_settings
        target: /app/docker/extra_settings
      - /var/run/docker.sock:/var/run/docker.sock
      - /tmp/aist/:/tmp/aist/

  initializer:
    environment:
      FIELD_ENCRYPTION_KEY: "4j2UH_n0npFJQYu9sa5kHbIFuWiENccaLtSGBIc_nFI"
      WEBHOOK_SECRET: "${WEBHOOK_SECRET:-}"
      GITHUB_APP_ID: "${GITHUB_APP_ID:-}"
      CLIENT_ID: "${CLIENT_ID:-}"
      NAME: "${NAME:-}"
      WEBHOOK_TYPE: "${WEBHOOK_TYPE:-}"
      PRIVATE_KEY: "${PRIVATE_KEY:-}"
    volumes:
      - type: bind
        source: ./docker/extra_settings
        target: /app/docker/extra_settings
